<h1>Territories Controller</h1>

<ng-container *ngIf="gameState$ | async as gameState">
  <h2 *ngIf="gameState.isEndGame" class="mat-headline-1">{{ gameState.winner }} Wins!</h2>
</ng-container>

<mat-form-field class="example-full-width">
  <mat-label>Score to win</mat-label>
  <input matInput type="number" [(ngModel)]="scoreToWinModel">
</mat-form-field>

<section *ngFor="let station of scores$ | async" class="mat-elevation-z8">

  <h2>
    <ng-container *ngIf="station.name != 'Total'">
      Station
    </ng-container>
    {{ station.name }}
  </h2>
    
  <app-capture-bar [red]="station.red" [blue]="station.blue" [scoreToWin]="scoreToWin"></app-capture-bar>

</section>

<br/><br/>
<button mat-raised-button (click)="reset()">RESET</button>
<button mat-raised-button (click)="endGame()">END GAME</button>